.svn
*.o
OpenMAXIL/release/lib/*.so
OpenMAXIL/release/bin/component_test_arm11_elinux
OpenMAXIL/release/bin/core_test_arm11_elinux
OpenMAXIL/release/bin/omx_vpu_test_arm11_elinux
OpenMAXIL/release/bin/omxgraph_manager_arm11_elinux
OpenMAXIL/release/bin/parser_test_arm11_elinux
OpenMAXIL/release/bin/tunnel_test_arm11_elinux
OpenMAXIL/release/bin/video_render_test_arm11_elinux
OpenMAXIL/release/bin/metadata_test_arm11_elinux
OpenMAXIL/release/bin/mp3_player_arm11_elinux
OpenMAXIL/release/bin/video_decoder_test_arm11_elinux
OpenMAXIL/release/bin/video_source_test_arm11_elinux
OpenMAXIL/release/bin/recorder_test_arm11_elinux
OpenMAXIL/release/bin/muxer_test_arm11_elinux
OpenMAXIL/release/bin/omx_vpu_enc_test_arm11_elinux
OpenMAXIL/release/bin/stack_test_arm11_elinux
OpenMAXIL/release/lib/android/fsl_aacp_dec/EULA.txt
OpenMAXIL/release/lib/android/fsl_aacp_dec/lib_aacplus_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ac3_dec/lib_ac3_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ac3_dec/lib_omx_ac3_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ms_codec/EULA.txt
OpenMAXIL/release/lib/android/fsl_ms_codec/lib_WMV789_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ms_codec/lib_asf_parser_arm11_elinux.3.0.so
OpenMAXIL/release/lib/android/fsl_ms_codec/lib_omx_wma_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ms_codec/lib_omx_wmv_dec_v2_arm11_elinux.so
OpenMAXIL/release/lib/android/fsl_ms_codec/lib_wma10_dec_v2_arm12_elinux.so


copy_lib.sh
cscope.files
cscope.out
tags

